*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #001e4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
}
 
header{
    width: 100%;
    max-width: 800px;
    text-align: center;
}

header h1{
    color: #cac1c1;
}

.search-container{
    margin-top: 20px;
    position: relative;
   
}

.search-container input{
    width: 100%;
    font-size: 18px;
    padding: 12px 22px;
    border: none;
    background: #eeeeee95;
    border-radius: 20px;
    
}
.search-container input::placeholder{
    color: #2d2c2c;
}

.search-container .material-symbols-outlined{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.images-container{
    color:  #cac1c1;
    margin-block: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.images-container img{
    width: 300px;
    height:290px;
}

.images-container .imageDiv{
    position: relative;
}

.imageDiv .overlayDiv{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: height 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageDiv:hover .overlayDiv{
    height: 100%;
    
}

.imageDiv .overlayDiv h3{
    color: #d3cfcf;
    display: none;
    font-size: 18px;
}

.imageDiv:hover .overlayDiv h3{
    display: block;
    text-align: center;
}

.loadmore-btn {
  width: 131px;
  height: 51px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadmore-btn:hover,
.loadmore-btn:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}

.loadmore-btn {
  width: 127px;
  height: 47px;
  border-radius: 13px;
  background-color: #34749f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  font-weight: 600;
  display: none;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}


@media screen and(max-width:900px){
    .search-container{
    width: 80%;
    }
}






