* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 27, 37);
    color: #fff;
}

nav {
    padding: 20px;
    background-color: rgba(199, 21, 63, 0.728);
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 30px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #270404;
}

form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
}

form button[type="submit"] {
    background-color: #3669f4ae;
    color: #ffff;
    font-weight: 600;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#search-btn:hover
{
    background-color: #577fecae;
}

/* main section */

.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
} 

.recipe-container h1 {
    font-size: 32px;
}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 40, 0.5);
    border-radius: 8px;
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover{
    transform: scale(1.02);
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 25px;
    margin-block: 5px;
}

.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    color: #402828;
    font-size: 22px
}

.recipe button{
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin:10px auto;
    border: none;
    background-color: #1c56f4f5;
    color: #ffff;
}

.recipe button:hover{
    background-color: #2b61f6f5;
}
 
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: rgb(27, 57, 48);
    border-radius: 7px;
    width: 60%;
    height: 50%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}


.recipe-details-content{
   padding: 20px;
}
.recipeName{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase ;
}

.ingredientslist{
    margin-left: 20px;
    margin-bottom:10px ;
    line-height: 30px;
}
.recipeInstructions p{
    line-height: 30px;
    white-space: pre-line;
}

.recipeName ,
.ingredientslist,.recipeInstructions{
    margin-bottom: 20px;
}
h3{
    margin-bottom: 5px;
}

.recipe-close-btn{
    border: none;
    font-size: 13px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.recipe-close-btn:hover{
    background-color: #fa6257;
}

@media (max-width:570px) {
    header nav form {
        width: 80%;
        margin-top: 20px;
    }

    header nav {
        flex-direction: column;
    }
}   


@media (max-width:450px){
    .recipe-details {
        top: 55%;
        left: 50%;
        width: 80%;
        height: 60%;
    }
    .recipe-details-content {
        padding: 10px;
    }
}

@media (max-width:390px) {

    .recipe-container h1 {
        font-size: 22px;
    }
    .recipe-container h2{
        margin-right: 20px;
        font-size: 20px;
    }

    .recipe {
        width: 280px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
    }

    .recipe img {
        height: 280px;
    }
    .recipe-container h1 {
        margin-right: 30px;
        font-size: 20px;
    }
}
@media (max-width:372px){
    .recipe-container h1 {
        margin-right: 30px;
        font-size: 25px;
    }
}

@media (max-width:360px){
    .recipe-container h1 {
        font-size: 17px;
        margin-right: 60px;
    }
    .recipe-container h2{
        margin-right: 30px;
    }
    .recipe-container h1 {
        margin-right: 50px;
        font-size: 22px;
    }
    form input[type="text"],
    button[type="submit"] {
        font-size: 15px;
        padding: 9px 9px;
    }
    .recipe-details {
        top: 55%;
        left: 50%;
        width: 90%;
        height: 60%;
    }
    .recipe-details-content {
        padding: 10px;
    }
}

@media (max-width:340px){
    .recipe{
        margin-right: 70px;
    }
    .recipe-container h2{
        margin-right: 30px;
    }
    .recipe-container h2{
        margin-right: 50px;
        font-size: 20px;
    }
}

@media (max-width:325px) {
    form input[type="text"],
    button[type="submit"] {
        font-size: 15px;
        padding: 8px 10px;
    }
    .recipe{
        margin-right: 80px;
    }
    .recipe-container h2{
        margin-right: 50px;
    }
    .recipe-container h1 {
        margin-right: 80px;
        font-size: 20px;
    }
    
}

@media (max-width:310px){
    .recipe {
        width: 250px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
    }
    .recipe img {
        height: 250px;
    }
    .recipe-container h2{
        margin-right: 90px;
    }
}